<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>




<script>
	var pass;
	if (localStorage.getItem("loginblog") != "logged"){
		pass = prompt("Por favor ingrese su contraseña", "");
		if(pass == "2020MillaF"){
			localStorage.setItem("loginblog", "logged");
		}else{
      window.location = "/";
		}
	}
</script>


<h1>Contactos</h1>

<table id="datatable" class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Cel</th>
      <th>Proyecto</th>
      <th>Creado</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.nombre %></td>
        <td><%= contact.email %></td>
        <td><%= contact.cel %></td>
        <td><%= contact.proyecto %></td>
        <td><%= contact.created_at.strftime("%d"+"/"+"%m"+"/"+"%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<script>
    $(document).ready(function() {
        $('#datatable').DataTable({
            pageLength: '1000',
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    } );
</script>
