<% form_use == "arriba" ? @clase_form = "inputs_form_proyectos" : @clase_form = "inputs_form_proyectos_2" %>

<div class="row">
        <div class="
            <% if form_use == "arriba" %>
                col-10 offset-1 col-md-3 offset-md-4 form_proyectos_1
            <%else%>
                col-10 offset-1 col-md-8 offset-md-2 form_proyectos_2
            <%end%>">
            <% if form_use == "arriba" %>
                <p class="info_form_arriba">¿Quieres más información?</p>
            <%else%>
                <p class="info_form_arriba_1">¿Quieres saber más de tu proyecto soñado?</p>
                <p class="info_form_arriba_1 info_form_arriba_2">Déjanos tus datos y te llamaremos</p>
            <%end%>
            <%= form_for :formlanding, url: "/save_form" do |form| %>
                <div class="row">
                    <div class="col-10 offset-1 col-md-10 offset-md-1">
                        <%= form.text_field :name, placeholder: 'Nombre', class: @clase_form, required: true %>
                    </div>
                    <div class="col-10 offset-1 col-md-10 offset-md-1">
                        <%= form.text_field :lastname, placeholder: 'Apellido', class: @clase_form, required: true %>
                    </div>
                    <div class="col-10 offset-1 col-md-10 offset-md-1">
                        <%= form.text_field :email, placeholder: 'Correo electrónico', class: @clase_form, required: true %>
                    </div>
                    <div class="col-10 offset-1 col-md-10 offset-md-1">
                        <%= form.number_field :cel, placeholder: 'Celular', class: @clase_form, required: true %>
                    </div>
                    <div class="col-10 offset-1 col-md-10 offset-md-1">
                        <%= form.check_box :terms_of_service %>
                        <span style="color: #383838;font-size: 15px;">*Acepto política de datos (<a data-toggle="modal" data-target="#exampleModal" style="color: #4aa778;cursor: pointer;">Ver aquí</a>).</span>
                    </div>
                </div>
                <%= form.hidden_field :project, value: @proyecto %>
                <div class="text-center">
                    <%= button_tag(:type => 'submit', style:"border: transparent;background-color: transparent;") do %>
                        <img src="/armonia/Landing-Armonia-CTA-Formulario.png" class="img-fluid btn_send_1">
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
    
        
    
    
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body"><h3 style="text-align: center; line-height: 1"><strong>POLÍTICAS PARA EL TRATAMIENTO DE DATOS PERSONALES Y HABEAS DATA</strong></h3><h4 style="text-align: center;"><strong>CONSTRUCTORA CONTEX S.A.S</strong></h4><p>Este documento contiene las políticas internas establecidas por LA CONSTRUCTORA CONTEX S.A.S para dar cumplimiento a la Ley 1266 de 2008, a la Ley 1581 de 2012 y demás normas reglamentarias que regulan el Habeas Data y la protección de datos personales. Estas políticas promueven los valores de respeto, sujeción a la legalidad, reserva, confidencialidad, disponibilidad y manejo adecuado de la información personal que, es utilizada por la empresa, para el cumplimiento de los objetivos corporativos y de negocio.</p><p>Estas políticas buscan garantizar que las personas naturales y jurídicas con las que interactúa la empresa, conozcan las finalidades y condiciones de uso y tratamiento que de los datos personales se realizan en el desarrollo del objeto social, se informe sobre quiénes son los encargados y responsables del tratamiento de sus datos y cuenten con los instrumentos para que ejerciten el derecho de decisión y control que tienen sobre la información, uso y destino de sus datos personales.</p><p>Estas políticas incluyen los aspectos básicos de índole normativa, los anexos con las finalidades para las que es obtenida la información personal en la empresa, los esquemas de procedimientos que permiten la autorización del dato por cuenta de su titular y, las garantías e instrumentos para asegurar la vigencia de los derechos fundamentales protegidos por las mencionadas disposiciones.</p><p><strong>1. IDENTIFICACIÓN DEL RESPONSABLE DEL TRATAMIENTO DE LA INFORMACIÓN</strong></p><p>CONSTRUCTORA CONTEX S.A.S, en adelante CONTEX, sociedad por acciones simplificada, legalmente constituida mediante Escritura Pública No. 270 de fecha 3 de marzo de 2006 otorgada en la Notaría 16 de Medellín, transformada a sociedad por acciones simplificada mediante Acta No. 17 del 5 de agosto de 2011 de la Asamblea de Accionistas, existente bajo las leyes de la República de Colombia, con domicilio principal en Rionegro y Número de Identificación Tributaria (NIT) 900.082.107-5.</p><p><strong>Dirección:</strong> Zona E Vía el Tablazo – Porvenir 700 mt a la derecha<br>
    <strong>Sitio web:</strong> www.contex.com.co</p><p><strong>2. DEFINICIONES</strong></p><p>Para los efectos de las presentes políticas, a continuación, se relacionan las definiciones establecidas por la normatividad vigente:</p><ol><li><strong>Autorización:</strong> Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales.</li><li><strong>Base de Datos:</strong> Conjunto organizado de datos personales que sea objeto de Tratamiento.</li><li><strong>Dato Personal: </strong>Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.</li><li><strong>Encargado del Tratamiento:</strong> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del responsable del Tratamiento.</li><li><strong>Responsable del Tratamiento:</strong> Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento de los datos.</li><li><strong>Titular:</strong> Persona natural cuyos datos personales sean objeto de Tratamiento.</li><li><strong>Tratamiento:</strong> Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.</li><li><strong>Aviso de privacidad:</strong> Comunicación verbal o escrita generada por CONTEX, dirigida al Titular de los datos personales, en la cual se le informa de la existencia de las políticas de Tratamiento de información que le serán aplicables, la forma de acceder a las mismas y las finalidades del Tratamiento que se pretende dar a los datos personales.</li><li><strong>Dato público:</strong> Es el relativo al estado civil de las personas, a su profesión u oficio y a su calidad de comerciante o de servidor público; aquellos que por su naturaleza no están sometidos a protección.</li><li><strong>Datos sensibles:</strong> Se entiende por datos sensibles aquellos que afectan la intimidad del Titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos, así como los datos relativos a la salud, a la vida sexual, y los datos biométricos.</li><li><strong>Transferencia:</strong> La transferencia de datos tiene lugar cuando CONTEX, ubicada en Colombia, envía la información o los datos personales a un receptor, que a su vez es Responsable del Tratamiento y se encuentra dentro o fuera del país.</li><li><strong>Transmisión:</strong> La transmisión tiene lugar cuando CONTEX en su calidad de responsable comunica los datos dentro o fuera del territorio de Colombia a un encargado que por cuenta de CONTEX S.A.S tiene por objeto la realización de un Tratamiento.</li></ol><p><strong>3. PRINCIPIOS</strong></p><p>Para la recopilación, manejo y supresión de datos personales, CONTEX actuará de conformidad con los principios establecidos en la ley:</p><ul><li><strong>Legalidad:</strong> Para el Tratamiento de los datos personales, CONTEX se sujetará a lo establecido en la Ley y demás disposiciones.</li><li><strong>Finalidad:</strong> CONTEX informará al Titular la finalidad del Tratamiento dado a los datos personales, la cual debe ser legítima de acuerdo con la constitución y la ley.</li><li><strong>Libertad:</strong> CONTEX ejercerá el Tratamiento de los datos personales únicamente con el consentimiento, previo, expreso e informado del Titular; o por mandato legal o judicial.</li><li><strong>Veracidad o Calidad:</strong> La información sujeta a Tratamiento de los datos personales, debe ser veraz, completa, exacta, actualizada, comprobable y comprensible. Se prohíbe el Tratamiento de datos parciales, incompletos, fraccionados o que induzcan a error.</li><li><strong>Transparencia:</strong> CONTEX garantiza al Titular el derecho a obtener en cualquier momento y sin restricciones, información acerca de la existencia de sus datos.</li><li><strong>Acceso y Circulación Restringida:</strong> El Tratamiento que CONTEX dará a los datos personales, se sujetará a las disposiciones establecidas en la ley y la Constitución. Los datos personales no podrán estar disponibles en internet o en otros medios de divulgación o comunicación masiva, salvo los que sean de naturaleza pública o aquellos en el que su acceso sea técnicamente controlable, para brindar un conocimiento restringido al Titular o terceros autorizados.</li><li><strong>Seguridad:</strong> La información sujeta a Tratamiento por CONTEX, será protegida mediante el uso de medidas técnicas, humanas y administrativas que, sean necesarias otorguen seguridad a los registros, evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.</li><li><strong>Confidencialidad:</strong> Las personas que intervengan en el Tratamiento de los datos personales que no tengan la naturaleza de públicos, están obligadas a garantizar la reserva de la información suministrada, inclusive después de finalizada su relación con alguna de las labores que comprende el Tratamiento.</li></ul><ul><li><strong>4. </strong><strong>FINALIDADES DEL TRATAMIENTO DE LOS DATOS </strong></li></ul><p>Estas políticas son aplicables en todos los procesos y procedimientos desarrollados en el marco del objeto social de CONTEX. La empresa recolecta, almacena, usa, maneja, transfiere, trasmite y suprime datos personales con las siguientes finalidades:</p><p><strong>4.1. En relación con la naturaleza y gestión empresarial de CONTEX: </strong></p><p>El Tratamiento de datos personales se realizará con la finalidad de desarrollar su objeto social principal que, consiste en el desarrollo de las diferentes manifestaciones de la construcción, tales como, diseñar, construir, vender, comprar y alquilar inmuebles, entre otras actividades.</p><p><strong>4.2. En relación con la operación de CONTEX: </strong></p><p><strong>4.2.1. Estructuración: </strong><strong>&nbsp;</strong></p><p>El Tratamiento de los datos personales se realizará para el desarrollo de los proyectos constructivos, desarrollo de obras y proyectos civiles. Así como la realización de alianzas estratégicas con entidades públicas y privadas con o sin ánimo de lucro que posibiliten su ejecución. De igual forma, el Tratamiento se realizará con el fin de gestionar administrativa, jurídica y financieramente dichos proyectos.</p><p><strong>4.2.2. Proveedores y contratistas:</strong></p><p>El Tratamiento de los datos se realizará para los fines relacionados con el desarrollo del proceso de gestión contractual de productos y servicios que CONTEX requiera para su funcionamiento de acuerdo a la normativa vigente.</p><p>El Tratamiento de datos se realizará para el desarrollo de actividades de pago, cobranza, gestión de crédito y cartera entre otras actividades necesarias para la gestión de recursos líquidos de los proyectos.</p><p><strong>4.2.3. Gestión de proyectos: </strong></p><p>El Tratamiento de los datos personales se realizará para la ejecución de los proyectos constructivos, desarrollo de obras y proyectos civiles.</p><p><strong>4.2.4. Mercadeo y estrategia: </strong></p><p>El Tratamiento de los datos personales se realizará para la definición de la estrategia comercial diferenciadora de la compañía en relación con el mercado, lanzamiento de producto y preventa tales como envío de publicidad relacionada con su oferta de productos y servicios y contacto para eventos y otras actividades.</p><p><strong>4.2.5. Comercialización: </strong><strong>&nbsp;</strong></p><p>El Tratamiento de los datos personales se realizará para la ejecución de la estrategia comercial empresarial, ejecución de ventas, entrega de obras.</p><p><strong>4.2.6. Usuario y clientes:</strong></p><p>El Tratamiento de los datos personales se realizará con el fin de ejecutar actividades de promoción sobre productos y servicios de CONTEX, así como para gestionar información de avance de obras o proyectos, envío de documentos, gestión de inversión del proyecto y envío de merchandising.</p><p><strong>4.2.7. Talento Humano y atención y servicio al cliente: </strong></p><p>El Tratamiento de los datos personales se realizará para la selección, vinculación, gestión de desempeño de funciones y comunicaciones, retiro o terminación de las relaciones jurídicas que tenga con sus empleados, ex empleados, aspirantes a cargos, practicantes, pasantes, entre otros.</p><p><strong>4.2.8. Seguridad en las instalaciones de CONTEX, en sus obras y salas de negocio:</strong></p><p>El Tratamiento se realizará para la vigilancia y seguridad de las personas, los bienes e instalaciones de CONTEX, sus obras y sus salas de negocio.</p><p><strong>4.3. Finalidades especificas</strong></p><p>Para el desarrollo de los procedimientos que despliegan los procesos anteriores, CONTEX establece unas finalidades específicas para el Tratamiento de datos personales que se integran a estas políticas en el Anexo 1.</p><p>CONTEX se compromete a no dar Tratamiento a datos personales para finalidades diferentes a las que se encuentran descritas en estas políticas, sin obtener la autorización expresa e inequívoca del Titular.</p><p><strong>5. TITULAR</strong></p><p>Para los efectos de estas políticas, se entenderán como Titulares de los datos personales, todas las personas que aparezcan registradas en las bases de datos de CONTEX: I) empleados; II) prestadores, contratistas y proveedores; III); IV) clientes; V) aliados.</p><p>En el caso de los menores de edad (niños, niñas y adolescentes), sus representantes legales tendrán la facultad de autorizar o no el Tratamiento de sus datos personales. En el Tratamiento de estos datos, se asegurará el respeto a los derechos prevalentes de los menores como la privacidad y protección de la información personal.</p><p><strong>6. TRATAMIENTO AL CUAL ESTÁN SOMETIDOS LOS DATOS PERSONALES </strong></p><p><strong>&nbsp;</strong>Para la recolección, almacenamiento, uso, circulación y supresión de información CONTEX establece en estas políticas los siguientes procedimientos e instrumentos:</p><p><strong>6.1 Recolección de los datos personales </strong></p><p>Sin perjuicio de las excepciones previstas en la Ley, CONTEX recogerá los datos personales siempre que obtenga la autorización de su Titular, limitándose a aquellos datos personales que son pertinentes o adecuados para la finalidad para la cual son recolectados o requeridos conforme a la normativa vigente. CONTEX no utilizará medios engañosos o fraudulentos para recolectar y realizar Tratamiento de datos personales.</p><p>El proceso de recolección se realizará mediante el diligenciamiento de solicitudes de vinculación a las bases de datos, encuestas o formularios de forma telefónica, digital o presencial, así como las planillas de asistencia a eventos, sin perjuicio de las condiciones particulares que apliquen en cada una de las finalidades para las que es recogido el dato personal. A partir del momento en que el Titular de los datos personales autorice a CONTEX, para la recolección y Tratamiento de sus datos personales, estos podrán usarse en el desarrollo de sus actividades comerciales y laborales.</p><p><strong>6.2 Autorización </strong></p><p>Sin perjuicio de las excepciones previstas en la ley, CONTEX dará Tratamiento a los datos personales, previa autorización informada y expresa del Titular, la cual estará redactada en lenguaje claro y sencillo y deberá ser obtenida por cualquier medio escrito, físico, digital o electrónico que pueda ser objeto de consulta posterior a más a tardar antes del momento de su recolección.</p><p>Al momento de solicitar al Titular la autorización, CONTEX&nbsp;&nbsp; deberá informarle de manera clara y expresa los datos personales que serán recolectados y las finalidades específicas al cual serán sometidos; así como los derechos que tiene como Titular y los medios a través de los cuales puede ejercerlos.</p><p>El Titular tiene derecho a optar por no suministrar cualquier dato personal sensible solicitado por CONTEX, relacionado, entre otros, con datos sobre su origen racial o étnico, la pertenencia a sindicatos, organizaciones sociales o de derechos humanos, convicciones políticas, religiosas, de la vida sexual, biométricos o datos de salud.</p><p>CONTEX contará con previa autorización y notificación del Titular, a efectos de reportarlo ante las Entidades CIFIN, DATACRÉDITO y PROCRÉDITO o cualquier otra Entidad de riesgo crediticio existente o por existir.</p><p>CONTEX podrá suministrar la información de los datos personales del Titular a sus causahabientes, representante legal o apoderado general, o terceros autorizados por éste o por la ley, así como entidades públicas o administrativas en ejercicio de funciones legales o por orden judicial.</p><p>En todo caso, dependiendo de la actividad que se realice, CONTEX le comunicará al Titular de los datos personales, de manera clara los mecanismos puestos a su disposición para conocer, actualizar, modificar y suprimir sus datos, así como para revocar la autorización otorgada.</p><p>CONTEX podrá continuar con el Tratamiento de los datos contenidos en sus bases de datos, para la finalidad indicada en estas políticas, sin perjuicio de la facultad que tiene el Titular de ejercer en cualquier momento, su derecho y pedir la eliminación del dato.</p><p><strong>6.3 Casos en los que no es necesaria la autorización </strong></p><p>La autorización del Titular no será necesaria cuando se trate de: (i) datos o bases de datos de naturaleza pública, (ii) información requerida por mandato de autoridades públicas administrativas o por orden judicial, (iii) casos de urgencia médica o sanitaria, (iv) Tratamiento de información autorizado por la ley para fines históricos, estadísticos o científicos, entre otros de naturaleza pública.</p><p><strong>6.4 Conservación y supresión de los datos personales </strong></p><p>CONTEX conservará los datos personales como en sus repositorios manuales y digitales, teniendo en cuenta el nivel de riesgo, tomará las medidas técnicas, humanas y administrativas necesarias, para garantizar a los Titulares de la información, la privacidad, confidencialidad y seguridad de los datos entregados, evitando la adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento por parte de terceros. CONTEX dando aplicación al principio de autonomía, se reserva la facultad de mantener y catalogar como confidencial la información que reposa en sus bases de datos.</p><p>CONTEX manifiesta que algunos de sus portales pueden contener vínculos a páginas web de terceros, sobre las cuales no tiene manejo ni control alguno, por tal motivo, no se hace responsable por el contenido, políticas de privacidad, seguridad y manejo de datos personales que se establezcan en las mismas, siendo obligación del Titular de los datos personales conocer en los respectivos portales, las políticas relacionadas con la protección y el Tratamiento de su información. En el sitio web de CONTEX se establecerá las instrucciones para que cada usuario o Titular de los datos personales interactúen con los mismos y presenten sus solicitudes ante CONTEX, sobre cualquier tipo de corrección, modificación y supresión conforme a lo establecido en estas políticas.</p><ul><li><strong>6.5. Tratamiento de los datos personales de los niños, niñas y adolescentes. </strong></li></ul><p>En el Tratamiento se asegurará el respeto a los derechos prevalentes de los niños, niñas y adolescentes. Queda proscrito el Tratamiento de los datos personales de niños, niñas y adolescentes, salvo aquellos datos que sean de naturaleza pública.</p><p><strong>6.6. Datos recolectados antes de la adopción de estas políticas</strong></p><p>CONTEX cumplirá con el aviso de solicitud de autorización exigido por la normativa vigente en materia de protección de datos, con el fin de continuar dando Tratamiento a las bases de datos conformadas antes de la vigencia de la Ley 1581 de 2012, por intermedio de los canales establecidos en estas políticas.</p><ol start="5"><li><strong>DERECHOS QUE LE ASISTEN AL TITULAR </strong></li></ol><p>El Titular de los datos personales o de la obligación crediticia adquirida con CONTEX, tendrá derecho a:</p><ul><li>Conocer, actualizar y rectificar sus datos personales frente a LA CONSTRCUTORA CONTEX S.A.S a través de los canales establecidos en estas políticas. Este derecho se podrá ejercer, entre otros, frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado.</li></ul><ul><li>Solicitar a CONSTRUCTORA CONTEX S.A.S prueba de la autorización otorgada para el Tratamiento de sus datos personales, salvo las excepciones previstas en la ley.</li></ul><ul><li>Ser informado por CONSTRUCTORA CONTEX S.A.S previa solicitud presentada mediante los canales dispuestos en estas políticas, sobre el uso que se les da a sus datos personales.</li></ul><ul><li>Presentar consultas ante CONSTRUCTORA CONTEX S.A.S, e interponer quejas ante la entidad encargada de la protección de los datos personales.</li></ul><ul><li>Solicitar la revocatoria y supresión de sus datos personales cuando CONSTRUCTORA CONTEX S.A.S incurra en conductas contrarias a la ley y la Constitución.</li></ul><ul><li>Acceder de manera gratuita e ilimitada mediante los canales dispuestos en estas políticas a los datos personales que sean objeto de Tratamiento.</li></ul><ol start="6"><li><strong>DEBERES</strong></li></ol><p>El Titular de los datos personales, deberá mantener actualizada, su información y garantizar, en todo momento a CONTEX, la veracidad de la misma. CONTEX no se hará garante, en ningún caso, por cualquier tipo de responsabilidad derivada por la inexactitud de la información entregada por el Titular.</p><ol start="7"><li><strong>RESPONSABLE Y ENCARGADO DEL TRATAMIENTO DE DATOS PERSONALES</strong></li></ol><p><strong>9.1. Responsable del Tratamiento</strong></p><p>CONTEX será el responsable del Tratamiento de los datos personales y en tal condición adquiere las siguientes obligaciones:</p><ol><li>a) Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data;</li></ol><ol><li>b) Solicitar y conservar, en las condiciones previstas en la presente ley, copia de la respectiva autorización otorgada por el Titular;</li></ol><ol><li>c) Informar debidamente al Titular sobre la finalidad de la recolección y los derechos que le asisten por virtud de la autorización otorgada;</li></ol><ol><li>d) Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento;</li></ol><ol><li>e) Garantizar que la información que se suministre al Encargado del Tratamiento sea veraz, completa, exacta, actualizada, comprobable y comprensible;</li></ol><ol><li>f) Actualizar la información, comunicando de forma oportuna al Encargado del Tratamiento, todas las novedades respecto de los datos que previamente le haya suministrado y adoptar las demás medidas necesarias para que la información suministrada a este se mantenga actualizada;</li></ol><ol><li>g) Rectificar la información cuando sea incorrecta y comunicar lo pertinente al Encargado del Tratamiento;</li></ol><ol><li>h) Suministrar al Encargado del Tratamiento, según el caso, únicamente datos cuyo Tratamiento esté previamente autorizado de conformidad con lo previsto en la presente ley;</li></ol><ol><li>i) Exigir al Encargado del Tratamiento en todo momento, el respeto a las condiciones de seguridad y privacidad de la información del Titular;</li></ol><ol><li>j) Tramitar las consultas y reclamos formulados en los términos señalados en la presente ley;</li></ol><ol><li>k) Adoptar un manual interno de políticas y procedimientos para garantizar el adecuado cumplimiento de la presente ley y en especial, para la atención de consultas y reclamos;</li></ol><ol><li>l) Informar al Encargado del Tratamiento cuando determinada información se encuentra en discusión por parte del Titular, una vez se haya presentado la reclamación y no haya finalizado el trámite respectivo;</li></ol><ol><li>m) Informar a solicitud del Titular sobre el uso dado a sus datos;</li><li>n) Informar a la autoridad de protección de datos cuando se presenten violaciones a los códigos de seguridad y existan riesgos en la administración de la información de los Titulares.</li></ol><ol><li>o) Cumplir las instrucciones y requerimientos que imparta la Superintendencia de Industria y Comercio.</li></ol><p><strong>9.2. Encargado del Tratamiento</strong></p><p>La Gerencia General a través de la persona que ocupe el cargo de asistente de gerencia en asocio con las áreas de atención al usuario, será el área encargada del Tratamiento de los datos personales, por cuenta de CONTEX. A este encargado se le suministrará información personal de los Titulares que reposen en una base de datos. Así mismo, deberá monitorear y actualizar las finalidades para el Tratamiento de los datos personales en la empresa.</p><p>El funcionario encargado de dicha área, llevará un informe de las bases de datos y tendrá a su cargo las siguientes funciones:</p><ol><li>Conocer esta política y darle aplicación en lo que les corresponda, a fin de garantizar al Titular el pleno y efectivo de sus derechos.</li></ol><ol><li>Informar al Titular sobre la finalidad de la recolección de los datos y garantizar el ejercicio de los derechos que le asisten en virtud de la autorización otorgada.</li></ol><ol><li>Utilizar únicamente los datos personales que hayan sido obtenidos mediante autorización, a menos que los mismos no la requieran.</li></ol><ol><li>Conservar copia de la respectiva autorización otorgada por el Titular de los datos personales.</li></ol><ol><li>Garantizar que la información objeto del Tratamiento sea veraz, completa, exacta, actualizada, comprobable y comprensible.</li></ol><ol><li>Respetar las condiciones de seguridad y privacidad de información del Titular para impedir su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.</li></ol><ol><li>Realizar la actualización, rectificación o supresión de los datos personales dentro de los cinco (5) días hábiles contados a partir del recibo de la solicitud r.</li></ol><ol><li>Tramitar oportunamente las consultas y reclamos formulados por los Titulares de los datos personales.</li></ol><ol><li>Aplicar el procedimiento exigido por la ley en caso de reclamaciones o de proceso administrativos o judiciales relacionados con el Tratamiento de datos personales de los Titulares, así como, cuando exista violación a los códigos de seguridad y exista riesgo en la administración de la información de los Titulares.</li></ol><ol><li>Permitir el acceso a la información únicamente a las personas autorizadas.</li></ol><ol><li>Establecer las medidas que deberán tomarse al interior CONSTRUCTORA CONTEX S.A.S, en cada uno de los procesos y procedimientos, en los que haya lugar al Tratamiento de datos personales de Titulares.</li></ol><ol><li>Suscribir acuerdos de confidencialidad con quienes manejen la información relacionada con el Tratamiento de datos personales.</li></ol><ol><li>Cumplir con las instrucciones y requerimientos impartidos por la autoridad administrativa competente.</li></ol><ol><li>Los demás consagrados en la ley.</li></ol><ol start="8"><li><strong>PROCEDIMIENTO PARA EL EJERCICIO DE LOS DERECHOS DE LOS TITULARES</strong></li></ol><p>El procedimiento e instrumentos para que los Titulares de la información puedan ejercer los derechos a conocer, actualizar, rectificar y suprimir información y revocar la utilización son los siguientes:</p><p><strong>10.1 Canales de comunicación de la información </strong></p><p>Las actividades de Tratamiento de datos personales podrán ser realizadas CONTEX a través de correo físico, correo electrónico, teléfono fijo, sitio web, teléfono celular o dispositivo móvil, vía mensaje de texto, fax, redes sociales, encuestas o a través de cualquier otro medio de comunicación ampliamente conocido, dando cumplimiento a lo previsto en la normatividad vigente.</p><p>CONTEX establece como canales de comunicación con los Titulares:</p><p>Página web:&nbsp;<u>www.contex.com.co</u></p><p>Correo electrónico: contex@contex.com.co</p><p>PBX:&nbsp;(57 4) 5372200</p><p>Redes sociales: Facebook, Instagram, twitter, entre otras.</p><p><strong>10.2 Consultas y reclamos</strong></p><p>Las consultas y reclamos que se realicen a CONTEX, deberán dirigirse al correo electrónico contex@contex.com.co. En caso de información adicional, el interesado podrá comunicarse al teléfono 537 22 00 o dirigirse al kilómetro 8.5 vía a Llano Grande Mall Complex oficina N 12 13 Rionegro, Antioquia -Colombia.</p><p>Las consultas realizadas por el Titular de los datos personales o sus causahabientes, serán atendidas por CONTEX en un término máximo de diez (10) días hábiles contados a partir del recibo de la respectiva solicitud, los cuales se podrán prorrogar por un término máximo cinco (5) días hábiles, debiendo CONTEX informar previamente al interesado.</p><p>El Titular o sus causahabientes que consideren que la información contenida en la base de datos de CONTEX debe ser objeto de corrección, actualización o supresión, o cuando adviertan el presunto incumplimiento de cualquiera de los deberes contenidos en la ley o en estas políticas, podrán presentar un reclamo ante el asistente de la Gerencia General, el cual será tramitado bajo las siguientes reglas:</p><ul><li>El reclamo se formulará mediante solicitud dirigida a la Gerencia General, a los canales de comunicación previstos en esta política, con la identificación del Titular, la descripción de los hechos que dan lugar al reclamo, la dirección, y los documentos adjuntos que se requiera.</li></ul><ul><li>El término máximo para atender el reclamo será de quince (15) días hábiles contados a partir del día siguiente a la fecha de su recibo, el cual se podrá prorrogar por un término máximo de ocho (8) días hábiles, cuando no fuere posible atender el reclamo dentro de dicho término, debiendo el área de servicio al cliente informar al interesado los motivos de la demora.</li></ul><ul><li>Si el reclamo resulta incompleto, se requerirá al interesado dentro de los cinco (5) días hábiles siguientes a la recepción del reclamo para que subsane las fallas. Si transcurridos dos (2) meses desde la fecha del requerimiento, sin que el solicitante presente la información requerida, se entenderá que ha desistido del reclamo.</li></ul><ul><li>En caso de que quien reciba el reclamo no sea competente para resolverlo, dará traslado a la Gerencia General en un término máximo de dos (2) días hábiles e informará de la situación al interesado.</li></ul><ul><li>Antes de acudir a la entidad encargada de vigilar el cumplimiento de las normas sobre protección de datos personales, el Titular debe tramitar inicialmente su reclamo ante CONTEX a través de los medios y canales dispuestos para tal fin.</li></ul><ol start="9"><li><strong>ÁMBITO DE APLICACIÓN </strong></li></ol><p>Estas políticas serán aplicables a las bases de datos que se encuentren bajo la administración de CONTEX en virtud del desarrollo de su objeto social y de las relaciones comerciales que establezca. CONTEX dependiendo de las obligaciones adquiridas en el marco de estas relaciones, actuará como Responsable o encargado de los datos personales dependiendo de si los recibe de un tercero o ella misma es la que los recaba.</p><p>Así mismo, será aplicable cuando el Tratamiento de los datos se efectúe en territorio colombiano. Estas políticas serán aplicables cuando el responsable o el encargado del Tratamiento no resida en Colombia, pero en virtud de normas internacionales o tratados le sea aplicable la legislación colombiana.</p><ol start="10"><li><strong>DERECHO DE HABEAS DATA. </strong></li></ol><p>Estas políticas acogen la definición del Artículo 15 de la Constitución Política, según la cual el Habeas Data es el derecho que tienen todas las personas a conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellas en bases de datos o archivos, tanto de entidades públicas como privadas. Así mismo y de acuerdo con la Sentencia C-748 de 2011 de la Corte Constitucional, este derecho comprende otras facultades como las de autorizar el Tratamiento, incluir nuevos datos, excluirlos o suprimirlos de una base de datos o archivo.</p><p>El alcance de Habeas Data en estas políticas incluye también el denominado “hábeas data financiero”, entendido como el derecho que tiene todo individuo a conocer, actualizar y rectificar su información personal, comercial, crediticia, y financiera contenida en centrales de información públicas o privadas, que tienen como función recopilar, tratar y circular esos datos con el fin de determinar el nivel de riesgo financiero de su Titular.</p><p>Finalmente, el derecho de Hábeas Data, para estas políticas, abarca desde una perspectiva más amplia que la financiera y crediticia, la facultad que tiene el Titular de controlar la información que de sí mismo se ha recolectado en cualquier base de datos o archivo, administrado por Entidades privadas o públicas.</p><ol start="11"><li><strong> REGISTRO NACIONAL DE POLITICAS Y BASES DE DATOS</strong></li></ol><p>Es el directorio público de las bases de datos sujetas a Tratamiento que operan en el país, y será de libre consulta para los ciudadanos. CONTEX realizará el registro de sus políticas y bases de datos ante la autoridad administrativa competente, en el tiempo y lugar que ésta establezca.</p><ol start="12"><li><strong>IDENTIFICACIÓN DE LAS BASES DE DATOS </strong></li></ol><p>CONTEX ha identificado las siguientes bases de datos:</p><p><strong>Base de datos con información pública:</strong></p><p>Los datos contenidos en los registros públicos provienen del cumplimento de una función reglada, cuyos formularios y procedimientos cumplen una finalidad de publicidad y oponibilidad. Estos datos son de carácter público por disposición legal y no requieren de la autorización previa del Titular para su Tratamiento. Así mismo, se entiende que tienen la misma naturaleza de datos públicos los registros que con posterioridad se deleguen a CONTEX.</p><p><strong>Bases de datos de accionistas: </strong></p><p><strong><u>&nbsp;</u></strong></p><p>Son las bases de datos manuales o automatizados que se encuentran estructuradas que se vinculan con la empresa en calidad de socios. Los datos de carácter privado consignados en esta base de datos, requieren la autorización de su Titular. Dichas bases de datos pueden contener información sensible, por lo que será usada solo para los fines en que ha sido encomendada.</p><p><strong>Bases de datos de empleados:</strong></p><p>Son las bases de datos manuales o automatizados que se encuentran estructuradas, y que contienen datos de naturaleza pública y privada de las personas naturales que se vinculan laboralmente a CONTEX. Los datos de carácter privado consignados en esta base de datos, requieren la autorización de su Titular. Dichas bases de datos pueden contener información sensible, por lo que será usada solo para los fines en que ha sido encomendada.</p><p><strong>Bases de datos de contratistas y proveedores:</strong></p><p>Son las bases de datos manuales o automatizadas que contienen datos de las personas naturales o jurídicas que mantienen un vínculo contractual y comercial, cuyo Tratamiento tiene como finalidad cumplir con las disposiciones contractuales estipuladas por CONTEX, para la adquisición de servicios y bienes demandados por CONTEX en el desarrollo del objeto social y actividad económica de la sociedad. Esta base de datos contiene datos personales públicos, privados, sensibles, los cuales tienen como finalidad el desarrollo de relaciones contractuales. El Tratamiento de estos datos para fines diferentes al mantenimiento de la relación contractual o el cumplimiento de deberes de carácter legal requiere de autorización previa del Titular o su representante legal según sea el caso, la cual estará contenida en las cláusulas estipuladas para tal fin en los documentos de vinculación, prestación o contratos.</p><p><strong>Bases de datos de clientes: </strong></p><p><strong><em><u>&nbsp;</u></em></strong></p><p>Son las bases de datos manuales o automatizadas, que se encuentran estructuradas, y que contienen datos de naturaleza pública y privada de personas jurídicas o naturales en calidad de clientes. Dicha calidad en CONTEX se atribuye a aquella persona natural o jurídica que se vincula formalmente a uno o varios de sus proyectos inmobiliarios. Los datos de carácter privado consignados en esta base de datos, requieren la autorización de su Titular.</p><p>Dichas bases de datos pueden contener información sensible, por lo que será usada solo para los fines en que ha sido encomendada.</p><p><strong>Bases de datos de visitantes:</strong></p><p>Son las bases de datos manuales o automatizadas, que se encuentran estructuradas, y que contienen datos de naturaleza pública y privada de personas jurídicas o naturales en calidad de usuarios. Dicha calidad en CONTEX se atribuye a aquella persona natural o jurídica interesada en uno o varios de los proyectos inmobiliarios, pero que no necesariamente se vincula formalmente a estos en calidad de cliente. Los datos de carácter privado consignados en esta base de datos, requieren la autorización de su Titular.</p><p>Dichas bases de datos pueden contener información sensible, por lo que será usada solo para los fines en que ha sido encomendada.</p><ol start="13"><li><strong>BASES DE DATOS AUTORIZADAS </strong></li></ol><p>La información de datos personales sensibles estará disponible para consulta y/o modificaciones en las bases de datos autorizadas así:</p><p>Página web: <a href="http://www.contex.com.co">www.contex.com.co</a></p><p>Las anteriores bases de datos cuentan con los mecanismos de seguridad necesarios para proteger los datos tales como: copias de seguridad, sistema centralizado, esquemas de contingencia y control de acceso por perfiles.</p><ol start="14"><li><strong>AVISOS DE PRIVACIDAD Y MEDIDAS DE SEGURIDAD APLICADO AL TRATAMIENTO.&nbsp;</strong></li></ol><p>En los casos en los que no sea posible poner a disposición del Titular estas políticas, CONTEX informará al Titular sobre su existencia y la forma de acceder a ellas al Titular mediante un aviso de privacidad.&nbsp;&nbsp; Este aviso será elaborado y comunicado conforme a la normativa de protección de datos y una copia de tal publicación será conservada como prueba en los archivos de CONTEX.</p><p>CONTEX cuenta con un “Manual de Políticas de Seguridad de la Información” para asegurar el cumplimiento de los requisitos exigidos en materia de seguridad en el Tratamiento de datos personales. Este manual se entiende incorporado a estas políticas y establece los controles que son implementados por CONTEX para garantizar la seguridad de los datos personales e implican la adopción de procedimientos y medidas físicas, administrativas y jurídicas para garantizar el control de acceso, el procesamiento, la gestión de incidentes y lo relativo a auditorías de seguridad de la información personal.</p><ol start="15"><li><strong>TRANSFERENCIAS Y TRANSMISIONES DE DATOS PERSONALES</strong></li></ol><p>En el desarrollo de su objeto social LA CONTRUCTORA CONTEX S.A.S. establece vínculos y alianzas con otras personas naturales o jurídicas corresponsables del Tratamiento de los datos personales. En estos casos CONTEX extenderá a estas relaciones las obligaciones establecidas en estas políticas para los responsables y encargados del Tratamiento y suscribirá los respectivos contratos de transmisión de datos personales para dar Tratamiento a nombre del responsable a lo datos personales, conforme a los principios que los tutelan, salvaguardar la seguridad de las bases de datos en los que contengan datos personales y guardar confidencialidad respecto del Tratamiento.</p><ol start="16"><li><strong>LEGISLACIÓN APLICABLE</strong></li></ol><ul><li>Constitución Política de Colombia: artículos 15 y 20.</li><li>Ley 527 de 1999</li><li>Ley 1266 de 2008.</li><li>Ley 1273 de 2009.</li><li>Ley Estatutaria 1581 del 17 de octubre de 2012.</li><li>Decretos reglamentarios 1727 de 2009,2952 de 2010, 1377 de 2013 y 886 de mayo 13 de 2014</li><li>Sentencia C-748 de 2011 de la Corte Constitucional</li></ul><ol start="17"><li><strong>ENTRADA EN VIGENCIA, PERIODO DE VIGENCIA Y MODIFICACIÓN</strong></li></ol><p>La presente política iniciará su vigencia el día 28 de octubre de 2016 y tendrá validez mientras CONTEX ejerza su objeto social en Colombia, o hasta que la ley disponga asunto en contrario o diferente.</p><p>Esta política podrá ser modificada en cualquier momento y de forma unilateral por parte de CONTEX, debiendo dar a conocer oportunamente a los Titulares de los datos personales, dichas modificaciones.</p><p>Las políticas, según instructivo que imparta la Superintendencia de Industria y Comercio serán publicadas de acorde por lo establecido por dicha Entidad.</p><p><strong>Responsable del tratamiento: </strong></p><p>JUAN FELIPE OSORIO CARDONA</p><p>Representante Legal CONSTRUCTORA CONTEX S.A.S</p><p>Correo electrónico: <a href="mailto:gerencia@contex.com.co">contex@contex.com.co</a></p><p>PBX: 57 4 322 12 88</p></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Entendido</button>
            </div>
          </div>
        </div>
      </div>