<nav class="navbar navbar-expand-lg navbar-light bg-light nav-center-a" style="background-color:#4aa670 !important;z-index: 999999;">
    <a class="navbar-brand" href="/">
        <img src="/armonia/Landing-Armonia-Logo-Header.png" alt="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" style="color:white;" href="/"><i class="fas fa-circle" style="color:#f8be51"></i> Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white;" href="#contactenos"><i class="fas fa-circle" style="color:#f8be51"></i> Contáctenos</a>
            </li>
        </ul>
    </div>
</nav>


<div class="barra_armonia barra_armonia_ara">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="/arandanos/Landing-Arandanos-Logo.png" class="img-fluid logo_1 logo_arandanos">
                </div>
                <div class="col-md-4">
                    <img src="/arandanos/arandanos-precio.png" class="img-fluid precio_1 precio_arandanos">
                </div>
                <div class="col-md-4">
                    <img src="/arandanos/arandanos-area.png" class="img-fluid metros_1 metros_arandanos">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner_principal" style="background-image:url(/arandanos/Landing-Arandanos-Banner.png) !important">
    <%= render 'site/form_proyectos', form_use: "arriba" %>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="row ">
            <div class="col-12 col-md-6 vive_arandanos">
                <img src="/arandanos/Landing-Arandanos-Foto.png" class="img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <p class="p_naturaleza">Vive el momento y disfruta al máximo tu tiempo en familia</p>
                <p class="p_texto_nat">La elegancia se refleja en el proyecto Arándanos de Fontibón. Tan solo 2 torres de apartamentos regalándole a sus habitantes mucha más privacidad.</p>
                <p class="p_texto_nat">En Arándanos podrás tomarte la vida con frescura, rodeado de un ambiente natural y muy cerca de la ciudad. Serás consciente de disfrutar aquí y ahora sin preocuparte por nada más que vivir el momento y sacar el mayor provecho pasar el
                    tiempo en familia.</p>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>



<div class="disfrutaras text-center pt-5 disfrutaras_arandanos">
    <img src="/arandanos/arandanos-disfruta.png" class="img-fluid img_disfruta">
    <div class="row">
        <div class="col-8 offset-2 pt-4">
            <div class="row">
                <div class="col-6 col-md-2 offset-md-1">
                    <img src="/arandanos/Landing-Arandanos-Zona-comun.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/arandanos/Landing-Arandanos-Zona-comun_1.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/arandanos/Landing-Arandanos-Zona-comun_2.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/arandanos/Landing-Arandanos-Zona-comun_3.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/arandanos/Landing-Arandanos-Zona-comun_4.png" class="img-fluid">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-6 col-md-2 offset-md-1">
                    <img src="/arandanos/Landing-Arandanos-Zona-comun_5.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/arandanos/Landing-Arandanos-Zona-comun_6.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/arandanos/Landing-Arandanos-Zona-comun_7.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/arandanos/Landing-Arandanos-Zona-comun_8.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/arandanos/Landing-Arandanos-Zona-comun_9.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>





<br>
<ul class="nav nav-tabs" id="myTab" role="tablist" style="width: 20%;margin: auto;">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#aptomodelo" role="tab" aria-controls="home" aria-selected="true">Apartamento Modelo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#renders" role="tab" aria-controls="profile" aria-selected="false">Renders</a>
    </li>
</ul>
<br>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="aptomodelo" role="tabpanel" aria-labelledby="home-tab">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/arandanos/modelo/1.jpg" class="d-block w-50 img-fluid" style="margin: 0 auto;">
              </div>
              <div class="carousel-item">
                <img src="/arandanos/modelo/2.jpg" class="d-block w-50 img-fluid" style="margin: 0 auto;">
              </div>
              <div class="carousel-item">
                <img src="/arandanos/modelo/3.jpg" class="d-block w-50 img-fluid" style="margin: 0 auto;">
              </div>
              <div class="carousel-item">
                <img src="/arandanos/modelo/4.jpg" class="d-block w-50 img-fluid" style="margin: 0 auto;">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="fa fa-arrow-left i_arrow"></i>
              <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span> -->
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="fa fa-arrow-right i_arrow"></i>
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span> -->
            </a>
          </div>
    </div>


    <div class="tab-pane fade" id="renders" role="tabpanel" aria-labelledby="profile-tab">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="/arandanos/renders/1.jpg" class="d-block w-50 img-fluid" style="margin: 0 auto;">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                <i class="fa fa-arrow-left i_arrow"></i>
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span> -->
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                <i class="fa fa-arrow-right i_arrow"></i>
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span> -->
            </a>
        </div>
    </div>
</div>
<br>





<p class="titulo_mapa">Un sector con proyección</p>
    <div class="container_map" id="mapa">
        <div class="center-map">
            <img src="/arandanos/Landing-arandanos-Mapa.png" class="img-fluid img-mapa hidde_el" data-enlargable width="100" style="cursor: zoom-in">
            <img src="/arandanos/Landing-arandanos-Mapa.png" class="img-fluid img-mapa show_el">
            <a href="https://goo.gl/maps/CLdvRUvY2NjQHP5i7" target="_blank"><img src="/sitio/gmaps.png" class="img-fluid waze-icon"></a>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        
        <script>
            $('img[data-enlargable]').addClass('img-enlargable').click(function(){
                var src = $(this).attr('src');
                $('<div>').css({
                    background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center',
                    backgroundSize: 'contain',
                    width:'100%', height:'100%',
                    position:'fixed',
                    zIndex:'10000',
                    top:'0', left:'0',
                    cursor: 'zoom-out'
                }).click(function(){
                    $(this).remove();
                }).appendTo('body');
            });
        </script>
    </div>
    <br> <br>

<div class="p-5" id="contactenos">
    <%= render 'site/form_proyectos', form_use: "abajo" %>
</div>


<div class="row text-center div_cta">
    <div class="col-12 col-md-12">
        <p class="text_cta">Conoce más sobre tu proyecto soñado dando clic<br> para descargar nuestro brochure</p>
        <a href="/brochure/arandanos.pdf" target="_blank" class="btn btn_cta">Descargar</a>
    </div>
</div>


<div class="row text-center bg-footer-in">
    <div class="col-8 offset-2">
        <div class="row">
            <div class="col-12 col-md-12 text-center">
                <img src="/sitio/titulo_footer_general.png" class="img-fluid" style="width: 40%;margin-bottom: 14px;">
            </div>
            <div class="col-12 col-md-12 text-center">
                <img src="/enconstruccion/Logo estamos en construccion_1.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>
