<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milla Fontibón</title>
    <style>
        html, body{
            overflow: hidden !important;
            white-space: nowrap;
            height: 100%;
        }
        .bg-ec{
            background-image: url('/enconstruccion/Fondo estamos en construccion.png');
            background-size: cover;
        }
        .bg-footer-ec{
            background-color: #123a5c;
            padding: 20px 0px;
            position: absolute;
            width: 104%;
            bottom: 0;
        }
        .ht-ec{
            height: 100vh !important;
            align-items: center;
            margin-top: -50px;
        }
        
    </style>
  </head>
  <body class="bg-ec">

    <div class="row ht-ec">
        <div class="col-8 offset-2">
            <div class="row">
                <div class="col-12 col-md-6 text-md-left text-center">
                    <img src="/enconstruccion/Logo estamos en construccion_3.png" class="img-fluid img-center-ec">
                </div>
                <div class="col-12 col-md-6 text-md-right text-center mt-5">
                    <img src="/enconstruccion/Copy estamos en construccion.png" class="img-fluid img-center-ec">
                </div>
            </div>
        </div>
    </div>


    <div class="row text-center bg-footer-ec">
        <div class="col-8 offset-2">
            <div class="row">
                <div class="col-4">
                    <img src="/enconstruccion/Logo estamos en construccion.png" class="img-fluid">
                </div>
                <div class="col-4">
                    <img src="/enconstruccion/Logo estamos en construccion_1.png" class="img-fluid">
                </div>
                <div class="col-4">
                    <img src="/enconstruccion/Logo estamos en construccion_2.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>




    
  </body>
</html>
