<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milla Fontibón</title>
    <style>
        html, body{
            overflow: hidden !important;
            white-space: nowrap;
            height: 100%;
        }
        .bg-ec{
            background-image: url('/thanks/Landing-TY-Background.png');
            background-size: cover;
        }
        .bg-footer-ec{
            background-color: #123a5c;
            padding: 20px 0px;
            position: absolute;
            width: 104%;
            bottom: 0;
        }
        .ht-ec{
            margin-top: -100px;
            height: 100vh;
        }
        .back_thanks{
            background-image: url('/thanks/Landing-TY-Background-Menu.png');
        }
        .t1{
            color: #0e3759;
            font-size: 32px;
            font-weight: 600;
            white-space: normal;
            line-height: 38px;
            margin-bottom: 0px;
        }
        .t2{
            white-space: normal;
            font-size: 20px;
            margin-bottom: 0px;
        }
        .ma0{
            margin: auto 0;
        }
        .img-center-ec-tk{
            width: 90%;
        }
    </style>
  </head>
  <body class="bg-ec">

    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-center-a back_thanks">
        <a class="navbar-brand" href="/">
            <img src="/thanks/Landing-TY-Logo-Header.png" alt="img-fluid" style="width:70%;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" style="color:white;" href="/"><i class="fas fa-circle" style="color:#f8be51"></i> Inicio</a>
            </li>
            </ul>
        </div>
    </nav>

    <div class="row ht-ec">
        <div class="col-8 offset-2">
            <div class="row">
                <div class="col-12 col-md-6 text-md-left text-center ma0">
                    <p class="t1">¡Estás un paso más cerca de ver tus sueños hechos realidad!</p>
                    <p class="t2">Te hemos enviado a tu correo la información sobre todos nuestros proyectos en Milla Fontibón.</p>
                    <p class="t2">Esperamos volver a escuchar de ti muy pronto.</p>
                </div>
                <div class="col-12 col-md-6 text-md-right text-center">
                    <img src="/thanks/Landing-TY-Foto.png" class="img-fluid img-center-ec-tk">
                </div>
            </div>
        </div>
    </div>


    <div class="row text-center bg-footer-ec">
        <div class="col-8 offset-2">
            <div class="row">
                <div class="col-4">
                    <img src="/enconstruccion/Logo estamos en construccion.png" class="img-fluid">
                </div>
                <div class="col-4">
                    <img src="/enconstruccion/Logo estamos en construccion_1.png" class="img-fluid">
                </div>
                <div class="col-4">
                    <img src="/enconstruccion/Logo estamos en construccion_2.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>




    
  </body>
</html>
