<nav class="navbar navbar-expand-lg navbar-light bg-light nav-center-a sticky-top" style="z-index: 9999 !important;">
        <a class="navbar-brand" href="#">
            <img src="/sitio/Logo HEADER landing.png" alt="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#inicio"><i class="fas fa-circle" style="color:#4aa670"></i> Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pilares"><i class="fas fa-circle" style="color:#4aa670"></i> Pilares</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#mapa"><i class="fas fa-circle" style="color:#4aa670"></i> Mapa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#proyectos"><i class="fas fa-circle" style="color:#4aa670"></i> Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contactanos"><i class="fas fa-circle" style="color:#4aa670"></i> Contáctanos</a>
            </li>
          </ul>
        </div>
      </nav>


    <div class="row fondo_banner ht-ec" id="inicio">
        <div class="col-8 offset-2">
                <div class="row">
                    <div class="col-12 col-md-6 text-md-left text-center">
                        <img src="/sitio/Banner CABEZOTE landing.png" class="img-fluid img-center-ec">
                    </div>
                    <div class="col-12 col-md-6 text-md-right text-center mt-5">
                        <img src="/sitio/Banner TEXTO landing.png" class="img-fluid img-center-ec">
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="form-section-1">
        <%= render 'site/form' %>
    </div>

  <div class="row">
    <div class="col-6 text-md-left">
        <img src="/sitio/TEXTURA fondo blanco arriba_2.png" class="img-fluid img-center-lados">
    </div>
    <div class="col-6 text-md-right">
        <img src="/sitio/TEXTURA fondo blanco arriba_3.png" class="img-fluid img-center-lados">
    </div>
  </div>

  <div class="row bg-cuatro" id="proyectos">
        <div style="width: 100%;text-align: center;">
            <img src="/sitio/4ejes.png" class="img-fluid titulo_ejes" style="width: 60%;margin-bottom: 20px;">
        </div>
        <div class="col-8 offset-2">
            <div class="row">
                <% @proyectos.shuffle.each do |p| %>
                    <div class="col-12 col-md-3 vp-2">
                        <a href="<%=p[:url]%>">
                            <img src="<%=p[:imagen]%>" class="img-fluid">
                        </a>
                    </div>
                <%end%>
            </div>
        </div>
    </div>


    <div class="row top-mobile-fotos">
        <div class="col-10 offset-1 col-md-6 offset-md-3 text-center">
                <img src="/sitio/Titulo SLIDER FOTOS landing.png" style="width:100%;" class="img-fluid">
                <div class="row">
                    <div class="col-12 col-md-4 text-center mt-5">
                        <img src="/sitio/Foto SLIDER landing .png" class="img-fluid img-center-ec">
                    </div>
                    <div class="col-12 col-md-4 text-center mt-5">
                        <img src="/sitio/Foto SLIDER landing _1.png" class="img-fluid img-center-ec">
                    </div>
                    <div class="col-12 col-md-4 text-center mt-5">
                        <img src="/sitio/Foto SLIDER landing _2.png" class="img-fluid img-center-ec">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center mt-5" id="pilares">
            <img src="/sitio/Logo Seccion Pilares landing.png" class="img-fluid">
            <br>
        <span class="hidde_el">
            <img src="/sitio/Pilares landing.png" class="img-fluid mt-5">
        </span>
        <span class="show_el">
            <br><br>
            <div class="row" style="background-color: #e5e6e7;padding: 40px 0px 10px 20px;">
                <div class="col-6">
                    <img src="/sitio/Fontibon-landing-page-pilares.png" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="/sitio/Fontibon-landing-page-pilares_1.png" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="/sitio/Fontibon-landing-page-pilares_2.png" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="/sitio/Fontibon-landing-page-pilares_3.png" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="/sitio/Fontibon-landing-page-pilares_4.png" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="/sitio/Fontibon-landing-page-pilares_5.png" class="img-fluid">
                </div>
                <div class="col-6">
                    <img src="/sitio/Fontibon-landing-page-pilares_6.png" class="img-fluid">
                </div>
            </div>
        </span>
    </div>

    

    <div class="row fondo_banner_2 pt-5">
        <div class="col-8 offset-2">
                <div class="row">
                    <div class="col-12 col-md-12 text-md-left text-center">
                        


                        <div class="slideshow-container">

                            <!-- Full-width slides/quotes -->
                            <div class="mySlides">
                                <h3><img src="/sitio/Icono SLIDER TEXTO landing_1.png" class="img-fluid"></h3>
                                <p>
                                El Porvenir <br>
                                Autopista Medellín-Bogotá <br>
                                Parque de Rionegro
                                </p>
                            </div>
                          
                            <div class="mySlides">
                                <h3><img src="/sitio/Icono SLIDER TEXTO landing_3.png" class="img-fluid"></h3>
                              <p>
                                    1.107 árboles plantados en 2018. <br>
                                    Más de 8.000 m2 de zonas verdes recuperados.<br>
                                    53 áreas verdes por cada 100.000 habitantes.<br>
                                    Una temperatura de 20ºC promedio.
                              </p>
                            </div>
                          
                            <div class="mySlides">
                                <h3><img src="/sitio/Icono SLIDER TEXTO landing.png" class="img-fluid"></h3>
                                <p>
                                        Desarrollo vial de Rionegro, que se ejecutará durante los próximos 5 años*.<br>
                                        (Ver mapa) *Milla Fontibón no se compromete con estas vías ya que son obras desarrolladas<br>
                                        por la administración municipal. Algunas ya se encuentran en ejecución y otras están proyectadas<br>
                                        en el plan vial de Rionegro. 
                                </p>
                            </div>

                            <div class="mySlides">
                                <h3><img src="/sitio/Icono SLIDER TEXTO landing_2.png" class="img-fluid"></h3>
                                <p>150 cámaras de seguridad de última tecnología instaladas.<br>
                                        Más de $5.000COP millones invertidos en seguridad desde 2017.
                                        </p>
                            </div>

                            <div class="mySlides">
                                <h3><img src="/sitio/Icono SLIDER TEXTO landing_5.png" class="img-fluid"></h3>
                                <p>13,2% es el crecimiento económico anual.<br>
                                        11.521 unidades empresariales (32% del Oriente Antioqueño)
                                        </p>
                            </div>

                            <div class="mySlides">
                                <h3><img src="/sitio/Icono SLIDER TEXTO landing_4.png" class="img-fluid"></h3>
                                <p>3 rutas integradas: Circular, ruta 600 Fontibón-centra y ruta 850 Cuchillas de San José.<br>
                                        19 km de ciclorrutas.
                                        </p>
                            </div>

                            <div class="mySlides">
                                <h3><img src="/sitio/Icono SLIDER TEXTO landing_6.png" class="img-fluid"></h3>
                                <p>Rionegro es una de las 77 ciudades más sostenibles y competitivas de Latinoamérica.<br>
                                        71,37% es el índice  de calidad de vida.<br>
                                        66 gimnasios al aire libre.<br>
                                        10 nuevas unidades deportivas.
                                        </p>
                            </div>
                          
                            <!-- Next/prev buttons -->
                            <a class="prev" onclick="plusSlides(-1)"><img src="/sitio/Flechas landing.png"></a>
                            <a class="next" onclick="plusSlides(1)"><img src="/sitio/Flechas landing_1.png"></a>
                          </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <p class="titulo_mapa">Un sector con proyección</p>
    <div class="container_map" id="mapa">
        <div class="center-map">
            <img src="/sitio/Milla-Fontibon-Mapa-1.png" class="img-fluid img-mapa hidde_el" data-enlargable width="100" style="cursor: zoom-in">
            <img src="/sitio/Milla-Fontibon-Mapa-1.png" class="img-fluid img-mapa show_el">
            <a href="https://goo.gl/maps/CLdvRUvY2NjQHP5i7" target="_blank"><img src="/sitio/gmaps.png" class="img-fluid waze-icon"></a>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        
        <script>
            $('img[data-enlargable]').addClass('img-enlargable').click(function(){
                var src = $(this).attr('src');
                $('<div>').css({
                    background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center',
                    backgroundSize: 'contain',
                    width:'100%', height:'100%',
                    position:'fixed',
                    zIndex:'10000',
                    top:'0', left:'0',
                    cursor: 'zoom-out'
                }).click(function(){
                    $(this).remove();
                }).appendTo('body');
            });
        </script>
    </div>





        <div class="form-section-2" id="contactanos">
            <%= render 'site/form' %>
        </div>


        <div class="row fondo-contact-2" style="padding-top: 60px;">
            <div class="col-6 text-md-left">
                <img src="/sitio/TEXTURA fondo blanco arriba_1.png" class="img-fluid img-center-lados">
            </div>
            <div class="col-6 text-md-right">
                <img src="/sitio/TEXTURA fondo blanco arriba.png" class="img-fluid img-center-lados">
            </div>
        </div>



        <div class="row text-center bg-footer-in">
                <div style="width: 100%;text-align: center;">
                    <img src="/sitio/titulo_footer.png" class="img-fluid titulo_footer" style="width: 18%;margin-bottom: 14px;">
                </div>
            <div class="col-8 offset-2">
                <div class="row">
                    <div class="col-12 col-md-4 logos_footer">
                        <img src="/enconstruccion/Logo estamos en construccion.png" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-4 logos_footer">
                        <img src="/enconstruccion/Logo estamos en construccion_1.png" class="img-fluid">
                    </div>
                    <div class="col-12 col-md-4 logos_footer">
                        <img src="/enconstruccion/Logo estamos en construccion_2.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>



<script>
    if ("<%=notice%>" == "emailSend"){
        Swal.fire(
            'Genial!',
            'Gracias por registrarte, pronto sabrás de nosotros!',
            'success'
        )
    }
</script>



<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
    showSlides(slideIndex += n);
    }

    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1} 
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none"; 
        }
        for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
        }
    slides[slideIndex-1].style.display = "block"; 
    dots[slideIndex-1].className += " active";
    }
</script>