<nav class="navbar navbar-expand-lg navbar-light bg-light nav-center-a" style="background-color:#4aa670 !important;z-index: 999999;">
    <a class="navbar-brand" href="/">
        <img src="/armonia/Landing-Armonia-Logo-Header.png" alt="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" style="color:white;" href="/"><i class="fas fa-circle" style="color:#f8be51"></i> Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white;" href="#contactenos"><i class="fas fa-circle" style="color:#f8be51"></i> Contáctenos</a>
            </li>
        </ul>
    </div>
</nav>


<div class="barra_armonia barra_armonia_ara">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="/olivar/Landing-Olivar-Logo.png" class="img-fluid logo_1 logo_arandanos">
                </div>
                <div class="col-md-4">
                    <img src="/olivar/olivar-precio.png" class="img-fluid precio_1 precio_arandanos">
                </div>
                <div class="col-md-4">
                    <img src="/olivar/olivar-area.png" class="img-fluid metros_1 metros_olivar">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner_principal form_proyectos_1_olivar" style="background-image:url(/olivar/Landing-Olivar-Banner.png) !important">
    <%= render 'site/form_proyectos', form_use: "arriba" %>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="row top_conectate_armonia">
            <div class="col-12 col-md-6 vive_arandanos">
                <img src="/olivar/Landing-Olivar-Foto.png" class="img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <p class="p_naturaleza">Aquí tus motivos encuentran su tiempo perfecto</p>
                <p class="p_texto_nat">En Olivar encontrarás 4 torres de apartamentos pensados especialmente para tu felicidad y tranquilidad en familia. Te regalamos el lugar ideal para disfrutar de los mejores momentos con quienes más quieres.</p>
                <p class="p_texto_nat">Aquí tu tiempo vale la pena y nos aseguramos de que tomes la mejor decisión.</p>
                <br class="no_br">
                <br class="no_br">
                <br class="no_br">
            </div>
        </div>
    </div>
</div>



<div class="disfrutaras text-center pt-5 disfrutaras_arandanos">
    <img src="/olivar/olivar-disfrutaras.png" class="img-fluid img_disfruta">
    <div class="row">
        <div class="col-8 offset-2 pt-4">
            <div class="row">
                <div class="col-6 col-md-2 offset-md-1">
                    <img src="/olivar/Landing-Olivar-Zona-comun.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/olivar/Landing-Olivar-Zona-comun_1.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/olivar/Landing-Olivar-Zona-comun_2.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/olivar/Landing-Olivar-Zona-comun_3.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/olivar/Landing-Olivar-Zona-comun_4.png" class="img-fluid">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-6 col-md-2 offset-md-1">
                    <img src="/olivar/Landing-Olivar-Zona-comun_5.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/olivar/Landing-Olivar-Zona-comun_6.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/olivar/Landing-Olivar-Zona-comun_7.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/olivar/Landing-Olivar-Zona-comun_8.png" class="img-fluid">
                </div>
                <div class="col-6 col-md-2">
                    <img src="/olivar/Landing-Olivar-Zona-comun_9.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>






<p class="titulo_mapa">Un sector con proyección</p>
    <div class="container_map" id="mapa">
        <div class="center-map">
            <img src="/olivar/Landing-Olivar-Mapa.png" class="img-fluid img-mapa hidde_el" data-enlargable width="100" style="cursor: zoom-in">
            <img src="/olivar/Landing-Olivar-Mapa.png" class="img-fluid img-mapa show_el">
            <a href="https://goo.gl/maps/CLdvRUvY2NjQHP5i7" target="_blank"><img src="/sitio/gmaps.png" class="img-fluid waze-icon"></a>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        
        <script>
            $('img[data-enlargable]').addClass('img-enlargable').click(function(){
                var src = $(this).attr('src');
                $('<div>').css({
                    background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center',
                    backgroundSize: 'contain',
                    width:'100%', height:'100%',
                    position:'fixed',
                    zIndex:'10000',
                    top:'0', left:'0',
                    cursor: 'zoom-out'
                }).click(function(){
                    $(this).remove();
                }).appendTo('body');
            });
        </script>
    </div>
    <br> <br>

<div class="p-5" id="contactenos">
    <%= render 'site/form_proyectos', form_use: "abajo" %>
</div>

    <div class="row text-center div_cta">
        <div class="col-12 col-md-12">
            <p class="text_cta">Conoce más sobre tu proyecto soñado dando clic<br> para descargar nuestro brochure</p>
            <a href="/brochure/olivar.pdf" target="_blank" class="btn btn_cta">Descargar</a>
        </div>
    </div>

<div class="row text-center bg-footer-in">
    <div class="col-8 offset-2">
        <div class="row">
            <div class="col-12 col-md-12 text-center">
                <img src="/sitio/titulo_footer_general.png" class="img-fluid" style="width: 40%;margin-bottom: 14px;">
            </div>
            <div class="col-12 col-md-12 text-center">
                <img src="/enconstruccion/Logo estamos en construccion_1.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>