.barra_armonia {
    background-image: url('/armonia/Landing-Armonia-Barra-Proyecto.png');
    position: absolute;
    width: 100%;
    height: 190px;
    top: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2000;
}

.logo_1 {
    width: 82px;
    margin-top: 38px;
}

.logo_arandanos {
    width: 180px;
    margin-top: 42px;
}

.logo_riovivo {
    width: 180px;
    margin-top: 52px;
}

.precio_1 {
    margin-top: 55px;
}

.precio_arandanos {
    margin-top: 62px;
}

.metros_1 {
    margin-top: 60px;
    width: 160px;
}

.metros_arandanos {
    margin-top: 62px;
}

.metros_riovivo {
    margin-top: 65px;
    width: 150px;
}

.metros_olivar {
    margin-top: 65px;
    width: 160px;
}

.disfrutaras {
    background-image: url('/armonia/Landing-Armonia-Zona-comun-background.png');
    height: 430px;
    background-repeat: no-repeat;
}

.disfrutaras_arandanos {
    height: 680px;
    background-repeat: repeat-y;
}

.disfrutaras_riovivo {
    height: 950px;
    background-repeat: repeat-y;
}

.vive_arandanos {
    margin: auto 0;
}

.mapa_proyecto {
    background-image: url('/armonia/Landing-Armonia-Mapa.png');
    height: 735px;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner_principal {
    background-image: url('/armonia/Landing-Armonia-Banner.png');
    height: 680px;
    background-repeat: no-repeat;
}

.form_proyectos_1 {
    position: absolute !important;
    margin-top: 140px;
    background-color: #ffffffd1;
    padding: 40px;
    right: 120px;
}

.inputs_form_proyectos {
    background-color: #ffffff;
    color: #676767;
    padding: 8px 10px;
    border-radius: 4px;
    margin: 6px 0px;
    width: 100% !important;
    border: 0;
}

.inputs_form_proyectos::placeholder {
    color: #676767;
}

.btn_send_1 {
    margin-top: 20px;
    width: 280px;
}

.info_form_arriba {
    color: #0e3759;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 0px;
    line-height: 36px;
}

.top_conectate {
    margin-top: -347px;
}

.top_conectate_riovivo {
    margin-top: -360px;
}

.p_naturaleza {
    color: #0e3759;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 45px;
}

.p_texto_nat {
    color: gray;
    margin-bottom: 0px;
}

.img_disfruta {
    width: 500px
}

.info_form_arriba_1 {
    color: #0e3759;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 0px;
    line-height: 36px;
}

.info_form_arriba_2 {
    font-size: 24px !important;
}

.inputs_form_proyectos_2 {
    background-color: #ffffff;
    color: #676767;
    padding: 8px 10px;
    border-radius: 4px;
    margin: 6px 0px;
    width: 100% !important;
    border: solid 1px gray;
}

.inputs_form_proyectos_2::placeholder {
    color: #676767;
}

.mapa_arandanos {
    background-image: url(/arandanos/Landing-arandanos-Mapa.png) !important
}

.top_conectate_armonia {
    margin: 30px;
}

.text_cta {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0px;
}

.btn_cta {
    background-color: white !important;
    color: #0f3759 !important;
}

.div_cta {
    background-color: #0e3759;
    padding: 20px 0px 35px 0px;
}

.titulo_mapa {
    text-align: center;
    color: #123a5c;
    font-size: 28px;
    font-weight: 600;
    margin: 20px 0px -30px 0px;
}

.active,
.dot:hover {
    background-color: transparent !important;
}

.i_arrow {
    color: black;
    font-size: 32px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: transparent;
}

@media (max-width: 768px) {
    .barra_armonia {
        background-size: cover !important;
        background-position: 50%;
        margin-top: -58px;
        height: 350px;
    }
    .logo_1 {
        margin-top: 88px !important;
    }
    .precio_1 {
        margin-top: 10px !important;
    }
    .metros_1 {
        margin-top: 0px !important;
    }
    .top_conectate {
        margin-top: 0px !important;
    }
    .banner_principal {
        margin-top: 70px;
    }
    .form_proyectos_1 {
        margin-top: 165px;
        right: 35px !important;
    }
    .vive_arandanos {
        text-align: center;
        margin-top: 20px;
    }
    .vive_arandanos>img {
        width: 60%;
    }
    .p_naturaleza {
        margin-top: 20px;
        text-align: center;
        padding: 0px 20px 10px;
    }
    .p_texto_nat {
        text-align: center;
        padding: 0px 20px;
    }
    .no_br {
        display: none;
    }
    .disfrutaras_arandanos {
        height: 1020px;
    }
    .img_disfruta {
        width: 280px;
    }
    .mapa_proyecto {
        height: 200px;
    }
    #contactenos {
        margin-top: -20px !important;
        padding: 30px 0px !important;
    }
    .info_form_arriba_1 {
        font-size: 20px;
        line-height: 21px;
    }
    .info_form_arriba_2 {
        font-size: 20px !important;
        line-height: 21px;
    }
    .top_conectate_armonia {
        text-align: center;
    }
    .top_conectate_armonia>div>img {
        width: 60%;
    }
    .dis_armonia {
        height: 400px;
    }
    .barra_armonia_ara {
        height: 310px;
    }
    .disfrutaras_riovivo {
        height: 1520px;
    }
    html,
    body {
        overflow-x: hidden !important;
    }
    .logo_riovivo {
        margin-top: 100px !important;
    }
    .banner_principal>div>div.form_proyectos_1 {
        right: 30px !important;
    }
    .arconsa_logo_rv {
        width: 100% !important;
    }
}