html {
    scroll-behavior: smooth;
}

.fondo_banner {
    background-image: url('/sitio/Fondo BANNER landing.png');
    background-size: cover;
    height: 500px;
}

.img-center-ec {
    width: 90%;
}

.ht-ec {
    align-items: center;
    margin-top: -50px;
}

.img-center-lados {
    width: 60%;
}

.fondo_banner_2 {
    background-image: url('/sitio/Fondo SLIDER TEXTO landing.png');
    background-size: cover;
    height: 400px;
}

.bg-cuatro {
    background-color: #4aa77a;
    padding: 60px 0px;
}

.bg-footer-in {
    background-color: #929697;
    padding: 60px 0px;
}

html {
    overflow-x: hidden;
}

.nav-center-a {
    padding: 10px 280px !important;
}

.inputs_form {
    background-color: #4aa779;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    margin: 6px 0px;
    width: 100% !important;
    border: 0;
}

#formlanding_project {
    height: 40px;
    border: solid #4aa778;
    border-radius: 0;
}

.border_form {
    box-shadow: 4px 4px 7px #3a3a3a;
    padding: 16px 24px;
    background-color: white;
    border-radius: 2px;
}

.btn_form {
    background-color: #123a5c;
    color: white;
    padding: 8px 20px;
}

.form-section-1 {
    position: absolute;
    margin-top: -60px;
    right: 0;
    left: 0;
    z-index: 1060;
}
.top-mobile-fotos{
    margin-top: 60px;
}
.form-section-2 {
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 260px;
    z-index: 1000;
}
.fondo-contact-2{
    padding-top: 240px !important;
}
.modal-body>p {
    color: #313131;
    font-size: 14px;
}

::placeholder {
    color: white;
}

.center-map {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -150px;
    z-index: 999;
}

.img-mapa {
    width: 800px;
}

.container_map {
    padding: 200px 0px;
}


/* Slideshow container */

.slideshow-container {
    position: relative;
}


/* Slides */

.mySlides {
    display: none;
    padding: 20px;
    text-align: center;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* The dot/bullet/indicator container */

.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* Add a background color to the active dot/circle */

.active,
.dot:hover {
    background-color: #717171;
}

.mySlides>h3,
p {
    color: white;
    padding: 10px 0px;
}

.waze-icon {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    width: 80px;
}

.show_el {
    display: none;
}

@media (max-width: 768px) {
    .bg-cuatro{
        margin-top: 320px;
    }
    .nav-center-a {
        padding: 0px 20px !important;
    }
    .top-mobile-fotos {
        margin-top: 30px;
    }
    .hidde_el {
        display: none;
    }
    .show_el {
        display: initial !important;
    }
    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 60%;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        left: -70px;
    }
    .prev>img,
    .next>img {
        width: 50px;
    }
    /* Position the "next button" to the right */
    .next {
        position: absolute;
        right: -370px;
        border-radius: 3px 0 0 3px;
    }
    div.fondo_banner_2 {
        height: auto !important;
        padding-top: 0px !important;
    }
    .fondo-contact-2 {
        height: 450px;
    }
    .form-section-2 {
        padding-top: 20px !important;
    }
    .bg-footer-in {
        padding: 20px 0px !important;
    }
    .logos_footer {
        padding: 12px 0px;
    }
    .titulo_footer {
        width: 62% !important;
    }
    .vp-2 {
        padding-top: 20px;
    }
    .titulo_ejes {
        width: 90% !important;
    }
    .waze-icon {
        position: absolute;
        bottom: 10px !important;
        left: 10px !important;
        width: 50px;
    }
    html,
    body {
        overflow-x: hidden !important;
    }
    .t1{
        font-size: 22px !important;
        font-weight: 600 !important;
        line-height: 22px !important;
    }
    .t2{
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .img-center-ec-tk{
        width: 60% !important;
    }
    .container_map{
        padding: 150px 0px 100px;
    }

}